<a href="https://colab.research.google.com/github/Ajithshippuden/Ajithshippuden/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=10
sum=a+b
print("the sum is", sum)

the sum is 20

In [ ]:

num=int(input("ENTER THE INPUT"))
numsqrt=num**0.5
print("the output is",numsqrt)

ENTER THE INPUT100
the output is 10.0

In [ ]:

b=int(input("ENTER THE BASE"))
h=int(input("ENTER THE HEIGHT"))
area=0.5*b*h
print('the area of tri is',area)

ENTER THE BASE50
ENTER THE HEIGHT40
the area of tri is 1000.0

In [ ]:
num=10.0
print("the datatype of num is",type(num))

the datatype of num is <class 'float'>

In [ ]:
#accessing_list
games=["gta","reddead","cod","coc"]
print(games[0])

gta

In [ ]:
#tuple
actors=("vijay","ajith","rajni")
print(actors[2])

rajni

In [ ]:
#dictionary
dict={'nepal':'kathmandu','italy':'rome','england':'london'}
print(dict)
print(dict['nepal'])

{'nepal': 'kathmandu', 'italy': 'rome', 'england': 'london'}
kathmandu

In [ ]:
#checking if+,-
num=float(input("enter the number"))
if num<=0:
   if num==0:
    print("zero")
   else:
    print("the num is negative")
if num>0:
 print("positive")

enter the number0
zero

In [ ]:
#prime number
num=int(input("enter the number"))